page-agregar-categoria {
    .base {
        height: 100%;
        width: 100%;
    }
    .entrada {
        height: 40%;
        text-align: center;
        vertical-align: center;
    }
    .colores {
        height: 40%;
    }
    .boton {
        height: 20%;
    }
}
